body, h1, h2, p, a {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.App {
  text-align: center;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.recipe-card h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.recipe-card p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 20px;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #28a745;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

a.button:hover {
  background-color: #218838;
}

.recipe-details {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.recipe-details h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.recipe-details ul, .recipe-details ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

.recipe-details ul li, .recipe-details ol li {
  margin-bottom: 10px;
}

a.back-button {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a.back-button:hover {
  color: #0056b3;
}
